<div>
    <p><strong>Username:</strong> <%= @user.username %></p>
    <p><strong>Name:</strong> <%= @user.name %></p>
    <p><strong>email:</strong>  <%= @user.email %></p>
    <p><%= button_to 'Edit', root_path %></p>
</div>