
<details class= "shopping-cart">
        <summary> Shopping Cart </summary>
          <div>
            <%= link_to 'Keep Shopping', products_path, class: 'shoping cart button' %>
            </div>
            <section>
              <%= render partial: "cart_products/cart_products", locals: { cart: @cart }  %>
            
          </section>
  </details>