<div class= "shopping-cart">
       <center> <h1> Shopping Cart </h1></center>
          <center><div style=" font-family: copperplate; color: white; margin-top: 10px;">
  
            <%= link_to 'Keep Shopping', products_path, class: 'shoping cart button' %>
            </div>
           <center> <section>
              <%= render partial: "cart_products/cart_products", locals: { cart: @cart }  %>

          </section></center>
          </div></center>
  </div>