<div class= "shopping-cart">
       <center> <h1> Shopping Cart </h1></center>
          <div>
            <%= link_to 'Keep Shopping', products_path, class: 'shoping cart button' %>
            </div>
           <center> <section>
              <%= render partial: "cart_products/cart_products", locals: { cart: @cart }  %>
            
          </section></center>
  </div>