<h1> About Us </h1>
<p> Local coffee shop owned by the Oliver Family, located right in downtown Berwick, Pa. 
We Cater for local events as well as serve lunch and breakfast. We have been established since 2008
and we love what we do here in shop. Be sure to check out our local farmer's market located here in house 
with wonderful local meats and veggies. </p>

<h4> Hours: </h4>
<p> Tuesday - Friday: 8am to 1 pm<br>
Saturday: 9am to 1 pm</p>

<h4> Contact Us: </h4>
<p> Phone Number: (570) 777 - 7777<br>
Email: aperfectblend@gmail.com</p>