<div style=" font-family: copperplate; color: white; margin-top: 100px;">
<center><h1> About Us </h1></center>
<center><p> Local coffee shop owned by the Oliver Family, located right in downtown Berwick, Pa.<br> 
We Cater for local events as well as serve lunch and breakfast. We have been established since 2008<br>
and we love what we do here in shop. Be sure to check out our local farmer's market located here in house <br>
with wonderful local meats and veggies. </p></center>

<center><h4> Hours: </h4></center>
<center><p> Tuesday - Friday: 8am to 1 pm<br>
Saturday: 9am to 1 pm</p></center>

<center><h4> Contact Us: </h4></center>
<center><p> Phone Number: (570) 777 - 7777<br>
Email: aperfectblend@gmail.com</p></center></div>