
<center> <div style=" font-family: copperplate; color: white; margin-top: 100px;">

        <details class: lunch-menu>
             <summary><br><br><br><br><br><br><h2> Breakfast Menu</h2><br> </summary>                                                                        
                 <section>
                        <h4>Please Call to see what we have for Breakfast!</h4><br>
                            
                 </section>
        </details>
        
        <details class: lunch-menu>
             <summary><h2> Lunch Menu</h2><br> </summary>                                                                        
                 <section>
                        <h4> Salads:</h4><br>
                            <p> Side Veggie Salad - $3.00</p><br>
                                <p> Organic mixed greens and assorted veggies</p><br>
                            <p> Spinach and Strawberry Salad - $10.00</p><br>
                                <p> Organic baby spinach, fresh strawberries, cucumbers, toasted almonds, and house lemon poppy dressing </p><br>
                            <p> Harvest Apple Salad - $12.00</p><br>
                                <p> Organic mixed greens, hand shredded chicken breast, apple chips, feta cheese, and glaze pecans </p><br>
                            <p> Nikki Salad - $12.00</p><br>
                                <p> Organic mixed greens, hand shredded chicken breast, toasted almonds, feta cheese, red onion, and house balsamic dressing </p><br>
                        
                        
                        <h4> Sandwiches:</h4><br><br>
                            <p> Spicy Chicken Wrap - $10.00</p><br>
                                <p> And shredded chicken breast with fresh spinach, tomato, onion, hot sauce and a combination of cheeses. Grilled to perfection!</p><br>
                            <p> Hummus Pita or Nuts and Hummus Pita - $9.00</p><br>
                                <p> Our house made hummus, tomato, onion, dill and monetary Jack cheese or hummus, hot sauce, sunflower seeds, toasted almonds, in Monterey jack cheese  </p><br>
                            
                            <p> White Albacore Tuna with Pink Lady Core Apples  - $10.00</p><br>
                                <p> Hand shredded and season to taste, add the sweet/ tart apples, delicious! This can we serve grilled or cold!</p><br>
                            <p> Almost Famous Chicken Salad - $10.00</p><br>
                                <p> No description necessary! </p><br>
                            <p> Classic Egg Salad - $6.00</p><br>
                                <p> Hand shredded boiled eggs in Dijon dressing </p><br>
                            <p> BLT Wrap - $8.00</p><br>
                                <p> Classic bacon, lettuce, and tomato and ensemble </p><br>
                        
                        <h4> Soups:</h4><br><br>
                            <p> Roasted Red Pepper - $6.00/bowl</p><br>
                                <p> Organic mixed greens and assorted veggies</p><br>
                            <p> Tomato Soup - $6.00/bowl</p><br>
                                <p> Organic baby spinach, fresh strawberries, cucumbers, toasted almonds, and house lemon poppy dressing </p><br>
                            <p> Chicken Noodle Soup - $6.00/bowl</p><br>
                                <p> Organic mixed greens, hand shredded chicken breast, apple chips, feta cheese, and glaze pecans </p><br>
                            <p> Minestrone - $6.00/bowl</p><br>
                                <p> Organic mixed greens, hand shredded chicken breast, toasted almonds, feta cheese, red onion, and house balsamic dressing </p><br>
                            </section>
                        </details>
                <%# <img src="/./assets/images/apb-coffee/menu.jpg" > %>
</div></center>